.tableContainer{
    width: 95%;
    margin: auto;
}
.headerContainer{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: -32px;
}
.headerContainer h1{
    font-size: 23px;
    color: darkblue;
    margin-bottom: -7px;
}
.saveBtn{
    float: right;
}
.editBtn{
    float: right;
    background-color: green !important;
}
  
.edditedPictureContainer{
    float: right;
    margin-top: -72px;
    border: 1px solid;
}
.edditedPictureContainer img{
    height: 70px;
    width: 70px;
}