
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
::-webkit-scrollbar{
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}



.blankDiv{
  height: 15vh;
}

/*********************************************** Super admin style section ************************************************/
.navContainer{
  display: flex;
}
.superAdminSlideSection{
  width: 20%;
  height: 100vh;
  background-color: #06066f;
  position: fixed;

}
.superAdminSlideSectionResponsive{
    width: 99%;
    z-index: 12;
    background-color: #06066f;
    position: fixed;
    height: 100vh;
    transition:  1s; 
}
.superAdminContentSection{
  width: 80%;
  position: relative;
  left:20%;
}
.superAdminMainContainer{
 background-color: white;
  -webkit-box-shadow: 0px 3px 9px #5d3d3d61;
  box-shadow: 0px 3px 9px #5d3d3d61;
  width: 90%;
  margin: auto;
  margin-top: -72px;
  padding: 1%;
}

@media only screen and (max-width: 999px) {
  .superAdminSlideSection{
    width: 0%;
    height: 100vh;
    background-color: #06066f;
    position: fixed;
  }
  .superAdminContentSection{
    width: 100%;
    left: 0%;
  }
  .icon {
    visibility: visible !important;
  }
}
.superAdminMiniDashbordContainer{
  width: 97%;
  margin: auto;
  background-color: #06066f;
  color: white;
  height: 159px;
  border-radius: 0px 0px 50px 50px;
}
.iconsContainer{
  display: flex;
  color: white;
  height: 11vh;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}
.iconsContainer span{
  cursor: pointer;
}
.icon {
  visibility: hidden;
}
.iconsContainer svg{
  font-size: 33px;
}
.NavRouteContainer{
  color: white;
    cursor: pointer;
    padding: 3%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-top: 12px;
}
.NavRouteContainer:hover{
  color: #2f2b2b;
  background-color: white;
  cursor: pointer;
  padding: 3%;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.NavIcons svg{
  font-size: 37px;
  margin-left: 5px;
}
.NavRoutesTitle{
 font-family: auto;
 margin-left: 13px;
 font-size: 20px;
  font-weight: 600;
}


/************************************** admin css section ********************************/

.AdminMainBody{
  display: flex;
  justify-content: space-between;
}

.admincontentContainer{
  width: 83%;
  height: 100vh;
  margin-left: 17%;
}

.adminNavBarContainer{
  height: 100vh;
  position: fixed;
  width: 16%;
  -webkit-box-shadow: 0px 3px 9px #5d3d3d61;
  box-shadow: 0px 3px 9px #5d3d3d61;
  border-radius: 2px;
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.adminPersonelDetails{
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: end;
  justify-content: flex-end;
  width: 82%;
  position: fixed;
  z-index: 12;
  background-color:white;

}
.adminPersonelDetailsInshrinkMode{
  display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: end;
    justify-content: flex-end;
    width: 92%;
    position: fixed;
    z-index: 12;
    background-color: white;
}

.adminPersonelDetails span , .adminPersonelDetailsInshrinkMode span {
  font-weight: bold;
  margin-left: 27px;
}
.adminImageContainer{
  height: 75px;
  width: 75px;
  padding: 2px;
  cursor: pointer;
}
.adminImageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.space{
  width: 2%;
}
.admincontentContainerInshrinkMode{
  width: 93%;
  height: 100vh;
  margin-left: 7%;

}
.shrinkMode{
  height: 63vh;
  position: fixed;
  width: 56px;
  -webkit-box-shadow: 0px 3px 9px #5d3d3d61;
  box-shadow: 0px 3px 9px #5d3d3d61;
  border-radius: 2px;
  background-color: darkgrey;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  overflow: hidden;
  top: 19%;
}

.shrinkModeIcons{
  color: darkblue;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: -3%;
    transform: rotate(89deg);
}
.shrinkModeIcons svg{
  font-size: 30px;
}
.adminLogoContainerInShrinMode{
  display: none;
}
.adminNavRouteContainer{
    color: darkblue;
    border-left: 7px solid darkblue;
    cursor: pointer;
    padding: 3%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-top: 12px;
}
.adminNavRouteContainer:hover{
    background-color: darkblue;
    border-left: 7px solid white;
    cursor: pointer;
    color: white;
    padding: 3%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-top: 12px;
}

.adminNavRoutesTitle{
  font-weight: 700;
  margin-left: 8px;
  color: azure;
}
.adminLogoContainer{
  width: 100%;
  position: absolute;
  top: 0px;
  background-color:black;
  cursor: pointer;
}
.adminLogoContainer img{
  width: 85%;
}
.openAdminNavBar{
  visibility: hidden;
  position: absolute;
  left: 2%;
  cursor: pointer;
}

.openAdminNavBar svg , .closeAdminNavBar svg{
  font-size: 35px;
}
.closeAdminNavBar{
  position: absolute;
  top: 16px;
  left: 90%;
  visibility: hidden;
  cursor: pointer;
  color: white;
}

.adminLogOut{
  text-align: center !important;
  background-color: transparent !important;
  width: 3%;
}
.adminLogOut svg{
  font-size: 39px;
}


.adminLogOutInShrinkMode {
  position: relative;
  top: 29%;
  background-color: black;
  color: white;
  padding: 3%;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
}

.adminlogOutTitle{
  color: white;
  font-weight: 600;
  margin-left: 12px;
}

@media  only screen and (max-width: 920px){
  .adminPersonelDetails{
    width: 100%;
  }
  .adminNavBarContainer{
    width: 0% ;
  }

  .adminLogoContainer{
    background-color: transparent;
  }
  .adminLogoContainer img {
    width: 40%;
  }
  .admincontentContainer{
    width: 100%;
    margin-left: 0;
  }

  .openAdminNavBar , .closeAdminNavBar{
    visibility: visible;
  }

  .shrinkModeIcons{
    display: none;
  }
  .shrinkMode{
    display: none;
  }
}

.adminResponsiveNavBar{
  width: 98%;
    margin-top: 0;
    z-index: 34;
    height: 100vh;
    position: fixed;
    -webkit-box-shadow: 0px 3px 9px #5d3d3d61;
    box-shadow: 0px 3px 9px #5d3d3d61;
    background-color: darkgrey;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}


/************************************ user style section ******************************/


.userIfoSection{
  padding: 1%;
  position: fixed;
  z-index: 12;
  width: 80%;
  margin-left: 10%;
  background: #dde1e7;
}
.userIfoSectionInnerDiv{
  background: #dde1e7;
  border-radius: 10px;
  padding: 18px;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288);
}
.userIfoSectionInnerDiv img{
  width: 90px;
  float: right;
  height: 90px;
  margin-top: -28px;
  cursor: pointer;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}
.userIfoSectionInnerDiv img:hover {
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #06066f, 8px 8px 15px #a7aaaf, -8px -8px 15px #cdb7b7;
}
.userContentContainer{
  width: 100%;
  background-color: #dde1e7;
  height: 100vh;
  overflow-x: scroll;
}
.userRoutesContainer {
  display: flex;
}
.userRoutesContainer button{
  margin-left: 12px;
    text-align: initial;
    border-radius: 7px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    outline: none;
    cursor: pointer;
    color: darkblue;
    -webkit-box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
}

.userRoutesContainer button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}

.userRouteIcon {
  font-size: 28px;
}
.userRouteIcon span {
  margin-left: 2px;
  font-size: 16px;
}

.userRouteTitle {
  margin-left: 8px;
}

.userContentBody{
  width: 80%;
  margin: auto;
  margin-top: 46px;
 
}
.userLogoutBtn{
  position: fixed;
    font-size: 35px;
    margin-top: 9px;
    margin-right: 28px;
    color: darkblue;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    background: #dde1e7;
    box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
    justify-content: center;
    align-items: center;
    z-index: 13;
}
.blankDivUser{
  height: 15vh;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 584px) {
   .userLogoutBtn{
    position: fixed;
    font-size: 35px;
    margin-top: 2px;
    margin-right: 28px;
    color: darkblue;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: -moz-box;
    display: flex;
    cursor: pointer;
    background: #dde1e7;
   }
   .userRouteIcon span{
     display: none;
   }
}

@media only screen and (max-width: 944px) {
  .userLogoutBtn {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 845px) {
  .userLogoutBtn {
    margin-right: 3px;
  }
}