.chatContainer{
    width: 96%;
    padding: 1%;
    margin: auto;
    margin-top: -18px;
    box-shadow: 0px 0px 4px;
}
.chatClubsSection{
    min-height: 6vh;
    padding: 2%;
    background-color: #eeeeee;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
}
.chatClubDiv{
    min-width: 98px;
    height: 87px;
    position: relative;
    margin-right: 12px;
    border: 2px solid;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 15px;
}
.chatClubDiv img {
    height: 87px;
    width: 97px;
}
.chatBodyContainer{
    display: flex;
    justify-content: space-between;
    height: 82vh;
}
.chatContentContainer{
    width: 70%;
    background-color: #eeeeee;
}
.chatAdminsContainer{
    width: 29%;
    background-color: #eeeeee;
    height: 82vh;
    overflow-y: scroll;
}
.clubName{
    position: absolute;
    z-index: 2;
    margin: 0;
    text-align: center;
    width: 100%;
    color: white;
    background-color: #12174ba8;
}
.chatAdminDiv{
    width: 90%;
    padding: 2%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.chatUserDiv{
    width: 90%;
    padding: 2%;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.adminInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}
.adminInfo span {
    width: 62%;
    text-align: center;
}
.adminInfo span img {
    height: 42px;
    width: 42px;
}
.chatAdminDiv p{
    text-align:center;
    line-height: 1px;
    color: darkblue;
    font-weight: bold;
}
.chatUserDiv p {
    text-align:center;
    line-height: 1px;
    color: darkblue;
    font-weight: bold;

} 
.chatBodyContent{
    background-color: white;
    height: 63vh;
    padding: 1%;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    overflow-y: scroll;
    border-radius: 12px 12px 0px 0px;
}
.chatFormContainer{
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 7px;
}
.chatFormContainer input {
    width: 89%;
    padding: 1%;
    font-size: 16px;
}
.chatmessage{
    float: left;
    width: 60%;
    padding: 1%;
    background-color: black;
    color: white;
    margin: 8px 9px;
    border-radius: 14px 14px 0px 14px;
}
.userPictureContainer{
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.userPictureContainer img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.chatmessageForCurrentUser{
    float: right;
    width: 60%;
    padding: 2%;
    background-color: darkblue;
    color: white;
    margin: 8px 9px;
    border-radius: 14px 14px 0px 14px;
}
.userMessage{
    margin-top: 15px;
    padding-left: 19%;
}
.infoMessage{
    text-align: center;
    font-family: fantasy;
    color: darkblue;
    font-size: 22px;
    margin-top: 169px;
}

.timeForCurrentUser{
    float: right;
    line-height: 0;
    margin-right: 6px;
    margin-top: -8px;
    display: flex;
    align-items: center;
}
.timeForCurrentUser span {
   cursor: pointer;
   margin-right: 8px;
}
.timeForOtherUsers{
    float: left;
    margin-left: 15px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-top: -17px;
}
.timeExtraSpcaeForCurrentUser{
    width: 12px;
}
.timeExtraSpcaeForOtherUsers{
    width: 200px;
}
.hideAction{
    display: none;
}
.showAction{
    display: inline;
}
.Title{
    text-align: center;
    background-color: #12174b;
    color: white;
    margin: auto;
    margin-top: 6px;
    padding: 2%;
    width: 91%;
    font-weight: 700;
}
.ClubTitle{
    text-align: center;
    background-color: #12174b;
    color: white;
    margin: auto;
    margin-top: 6px;
    padding: 1%;
    font-weight: 700;
}
.clubDynamicTitle{
    text-align: center;
    background-color: #12174b;
    color: white;
    margin: auto;
    margin-top: 6px;
    padding: 1%;
    width: 95%;
    font-weight: 700;
}
.chatAdminDivInResponsiveMode{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    margin: auto;
    height: 21vh;
}
.chatAdminDiv{
    min-width: 138px;
    margin-left: 11px;
    cursor: pointer;
}
 .chatUserDiv{
       max-width: 138px;
    height: 82px;
    margin-left: 11px;
    cursor: pointer;
} 
.chatSuperAdminDiv{
    min-width: 149px;
    height: 82px;
    margin-left: 11px;
    cursor: pointer;
    background-color: white;
    margin-top: 9px;
    border-radius: 8px;
    display: flex;
}

@media only screen and (max-width: 860px) {
    .Hidden{
        display: none;
    }
    .chatBodyContainer{
        flex-direction: column;
    }
    .chatAdminDiv{
        min-width: 138px;
        height: 14vh;
        margin-left: 11px;
        cursor: pointer;
        overflow-y: scroll;
    }
    .chatSuperAdminDiv{
        min-width: 149px;
        height: 17vh;
        margin-left: 11px;
        cursor: pointer;
        background-color: white;
        border-radius: 8px;
        display: -moz-box;
        display: flex;
        justify-content: center;
    }
    .chatContentContainer {
        width: 98%;
        order: 1;   
        margin-top: 8px;
        padding: 1%;
    }
    .Title{
        width: 96%;
    }
    .chatAdminsContainer{
        width: 100%;
        order: 0;  
        margin-top: -15px;
        overflow: inherit;
    }
    .chatAdminDivInResponsiveMode{
        min-height: 6vh;
        padding: 2%;
        background-color: #eeeeee;
        border-radius: 10px;
        display: -moz-box;
        display: flex;
        width: 96%;
        overflow-x: auto;
    }
    .chatAdminDiv p {
        line-height: 17px;
    }
    .adminInfo{
        flex-direction: column;
    }
    .adminInfo span img {
        width: 54px;
        height: 52px;
    }
    #fullName{
        width: 99%;
    }
    .userMessage{
        margin-top: 15px;
        padding-left: 37%;
    }
    .chatmessageForCurrentUser{
        width: 90%;
    }
    .chatmessage{
        width: 96%;
    }
    .timeForCurrentUser{
        flex-direction: column;
        width: 96%;
        justify-content: end;
        align-items: end;
        margin-right: 14px;
        margin-top: -10px;
    }
    .spicer{
        height: 34vh;
    }
    .chatContainer{
        box-shadow: 0px 0px 0px;
    }
    .showChatTargetsContainer{
        display: inline-block !important;
        padding: 1%;
        width: 100%;
    }
    .spaceBeforeBtns{
        height: 2vh;
    }
    .spaceAfterBtns{
        height: 1vh;
    }
}
 

.showChatTargetsContainer{
    display: none;
}
.chatAdminDivForCurrentUser {
      display: none;
}
.hideMessages{
      display:none;
}        
.noChatTargetSelected{
    height: 7vh;
}

.showClubsBtn{
    padding: 1%;
    background-color: white;
    box-shadow: 0px 0px 1px;
    cursor: pointer;
}
.showAdminsBtn , .showSuperAdminsBtn , .showUsersBtn{
    padding: 1%;
    background-color: white;
    box-shadow: 0px 0px 1px;
    cursor: pointer;
    margin-left: 12px;
}
